.head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px;
}

.about-me {
  text-align: center;
  padding-left: 150px;
}

.head img {
  float: left;
}

.after-head img {
  clear: left;
}

.skills {
  display: flow-root;
  text-align: center;
}

.projects {
    text-align: center;
}

.form {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}