body {
  background-color: rgb(25, 34, 86);
  margin: 1px;
}

nav {
  background-color: rgb(8, 8, 51);
  color: white;
  padding: 0.5%;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15%;
}

.about-me {
  text-align: center;
  padding-left: 7.5%;
  color: white;
}

.head img {
  float: left;
  width: 180px;
  border-radius: 95px;
  border-style: outset;
}

.after-head img {
  clear: left;
}

.projects {
  padding: 7.5%;
  text-align: center;
  color: white;
}

.form {
  text-align: center;
  color: white;
  padding-bottom: 15px;
}

.input {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-right: 30%;
}

input {
  padding: 15px;
  margin: 3.5px;
}

.btn-send {
  margin-top: 0.6%;
  border-radius: 7px;
}

footer {
  color: white;
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 1px;
  align-items: center;
}

footer img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
